<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h1 class="card-title counter-count1" align="center" style="font-size:100px">4.45</h1>
<h4 class="card-title" align="right" style="">km</h4>
{% comment %} <script>
    $('.counter-count1').each(function () {
    var $this = $(this);
    jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
        duration: 8000,
        easing: 'swing',
        step: function () {
        $this.text(Math.ceil(this.Counter));
        }
    });
    });
</script> {% endcomment %}