{% extends 'dash/main_base.html'%}

{% load static %}

{% block head %}
    <!-- The easiest way  -->
    <section class="well  bg-primary header">
      <div class="container text-center">
        <h1>The easiest way
          <span class="heading-3">To Monitor and Track your vehicles</span>
        </h1>
        <p class="inset-1">We give you the power and performance of a complete fleet management system. Fleet owners
          gain total 
          control over their vehicles, drivers and fleet documents.</p>
        <div class="btn-group">
          <a href="#" class="btn btn-md btn-secondary">learn more</a>
          <a href="#" class="btn btn-lg btn-default">Buy now!</a>
          <a href="#" class="btn btn-lg btn-default">Demo</a>
        </div>
      </div>
    </section>
    <!-- END The easiest way  -->
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main class="page-content">
    <!-- GPS tracking  -->
    <section class="well well-1 bg-alabster">
      <div class="container text-center text-sm-left">
        <div class="row">
          <div class="col-sm-6 col-md-5">
            <h2>GPS tracking
              <span class="heading-3"> benefits & savings</span>
            </h2>
            <p> We are committed to providing fleet operators everywhere
              with the highest
              quality, most cost-effective solutions.We are committed to be the  recognized leader in the GPS fleet management industry and our GPS Fleet Tracking
              solution
              sets the standard for excellence and performance.</p>
          </div>
          <div class="col-md-preffix-1 col-sm-6">
            <div class="image-wrap image-wrap-right image-wrap-1">
              <img src="{% static 'images/page-01_img01.png'%}" width="938" height="609" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END GPS tracking  -->
    <!--  Improve your safety -->
    <section class="well  well-2 text-center">
      <div class="container">
        <h2> Improve your safety
          <span class="heading-3">on the road</span>
        </h2>
        <div class="row row-md-reverse text-md-left">
          <div class="col-md-6">
            <p>GPS tracking technology has come so far in the past few years. At GPS Vehicle Tracking System, our
              mandate is to keep on top of all the changing technology, so we can pass that knowledge to you - our
              valued customers. If you're
              curious about GPS trackers, you've come to the right place. Not only do we offer fleet tracking and
              vehicle tracking
              options, but we also have an entire line of personal GPS tracking devices available. Our line of GPS
              tracking devices is extensive, but we're happy to help you find the best option for any vehicle that you
              want to track.
            </p>
          </div>
          <div class="col-md-6">
            <div class="image-wrap image-wrap-left image-wrap-left-md  image-wrap-2">
              <img src="{% static 'images/page-01_img02.png'%}" width="794" height="568" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END  Improve your safety -->
    <!--  Discover advanced -->
    <section class="well well-3 bg-alabster">
      <div class="container text-center">
        <h2> Discover advanced
          <span class="heading-3">GPS tracking features</span>
        </h2>
        <div class="row text-md-left row-xs-center offset-1 flow-offset-2">
          <div class="col-sm-6 col-md-4">
            <span class="icon icon-xl icon-primary material-icons-map"></span>
            <h5>GPS vehicle tracking</h5>
            <p>We offer the best professional tool
              for GPS vehicle tracking and fleet
              management. A small GPS tracker
              containing GPS receiver and GPRS. </p>
            <a href="#" class="btn btn-sm btn-default">Learn more</a>
          </div>
          <div class="col-sm-6 col-md-4">
            <span class="icon icon-xl icon-primary material-icons-local_shipping "></span>
            <h5>OBD data reading</h5>
              <p>OBD port allows you to keep track of the vehicles, vehicle efficiency, driver efficiency, driver perormnce an as well as driver ratings. ELM327 port makes use of all OBD protocols to calculate the vehicle performance. </p>
            <a href="#" class="btn btn-sm btn-default">Learn more</a>
          </div>
            <!-- from here change  --> 
          <div class="col-sm-6 col-md-4">
            <span class="icon icon-xl icon-primary material-icons-timer "></span>
            <h5>Easy Documentation</h5>
            <p>Would you like to integrate your Documnets securely? Do you want to communicate with your
              drivers in a simple, clear and economic way? Do you want your documents to be tamper proof? Come on board with us. </p>
            <a href="#" class="btn btn-sm btn-default">Learn more</a>
          </div>
        </div>
      </div>
    </section>
    <!-- END  Discover advanced -->
    <!-- Complete fleet -->
    <section class="well well-4 bg-image bg-image-1 bg-fixed">
      <div class="container text-center">
        <h1>Complete fleet
          <span class="heading-3">management solution</span>
        </h1>
        <p class="inset-1">Competition within the transport business is high and oil prices are still rising. The
          solution for
          profitability is to know how everything works, to drive more efficiently than the competition. GPS Vehicle
          Tracking System offers
          a comprehensive suite of solutions for professionals in the efficiency of freight transport by fleet
          monitoring and tracking </p>
        <a href="#" class="btn btn-md btn-primary">Learn more</a>
      </div>
    </section>
    <!-- END Complete fleet -->
    <!-- Testimonials -->
    <section class="well well-5">
      <div class="container text-center">
        <h2 class="text-secondary">Customer Satisfaction</h2>
        <div class="row row-xs-center row-md-left text-sm-left offset-3">
          <div class="col-sm-8 col-md-6 col-lg-5">
            <blockquote class="quote">
              <div class="box-sm">
                <div class="box__left inset-2">
                  <img src="{% static 'images/page-01_img04.jpg' %}" width="131" height="131" alt="" class="round">
                </div>
                <div class="box__body">
                  <p>
                    <q>
                      Thanks a lot for the quick
                      response. I was really impressed,
                      your solution is excellent!! Your
                      competence is justified!!</q>
                  </p>
                  <h5>
                    <cite>
                      Adam Smith
                    </cite>
                  </h5>
                  <div class="small text-secondary">Driver</div>
                </div>
              </div>
            </blockquote>
          </div>
          <div class="col-sm-8 col-md-6 col-lg-preffix-1 col-lg-6 offset-2">
            <blockquote class="quote">
              <div class="box-sm">
                <div class="box__left inset-2">
                  <img src="{% static 'images/page-01_img05.jpg' %}" width="131" height="131" alt="" class="round">
                </div>
                <div class="box__body">
                  <p class="inset-3">
                    <q> I just don't know how to
                      describe your services... They are
                      extraordinary! I am quite happy with them! Just keep up going this way! </q>
                  </p>
                  <h5>
                    <cite>
                      Tom Cooper
                    </cite>
                  </h5>
                  <div class="small text-secondary">Manager</div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <!-- END Testimonials -->
    <section class="well well-6 bg-primary">
      <div class="container text-center ">
        <h3 class="text-white"><span class="text-bold big">GPS</span> Vehicle Tracking System </h3>
        <p class="inset-4">We aim to represent the highest value GPS vehicle tracker and fleet tracking solution in the
          industry. Its proven functionality and
          rapid deployment easily scales whether you’re a small business or a large enterprise organization. </p>
        <a href="#" class="btn btn-lg btn-secondary">buy now!</a>
      </div>
    </section>
  </main>

 {% endblock head %}